* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2.5px;
  
}

body, html{
  background-color: rgba(244,243,245,1);
   }
  
header {
  margin: 0 auto;
  padding: 0;
  color: #211138;
}

.layout {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}


/* Header */

.header_layout{
  top: 0;
  left: 0;
  width: 1600px;
  height: 80px;
  background: #6200EA;
  
}

.content {
  margin-left: 245px;
  top: 20px;
  width: 160px;
  height: 40px;
  
}

.button {
  display: inline-block;
  margin-top: 20px;
  width: 10rem;
  padding: .7rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #6200ea;
  letter-spacing: 2.4px;
  border: 2px solid;
  border-radius: 24px;
  border-color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  left: 245px;
}

.button:hover {
  background-color: #6200EA;
  color: #fff;
}

img {
  margin-top: -25px
}



/* Navigation */

.navigation_layout {
  background: #fff;
  height: 80px;
}

.navigation_wrapper{
  display: inline-block;
  height: 100%;
}

.navigation_box {
  display: block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.navigation {
  padding-bottom: 2.1rem;
  margin-right: 4.1%;
  color: #211138;
}


.navigation:hover {
  border-bottom: solid;
  border-color: #6200ea;
  color: #6200ea;
}



























