* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgba(244,243,245,1);
   }
  
header {
  color: #211138;
}

a {
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2.5px;
}

a:hover {
  background-color: #b2acba;
}

.layout {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}


/* Header */

.header_layout{
  top: 0;
  left: 0;
  width: 1600px;
  height: 80px;
  background: #6200EA;
  
}

.content {
  margin-left: 245px;
  top: 20px;
  width: 160px;
  height: 40px;
  
}

.button {
  display: inline-block;
  margin-top: 20px;
  width: 10rem;
  padding: .7rem 0;
  font-weight: 700;
  font-size: 10px;
  color: #6200ea;
  letter-spacing: 2.4px;
  border: 2px solid;
  border-radius: 24px;
  border-color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  left: 245px;
}

.button:hover {
  background-color: #6200EA;
  color: #fff;
}


img {
  margin-top: -25px;
}



/* Navigation */

.wrapper{
  background: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  color: #211138;
  margin-left: 5.3rem;
}

.navigation:hover {
  border-bottom: solid;
  border-color: #6200ea;
}



/* === Blog === */




.main-container {
  display: inline-block;
  margin: 25px;
  
}

.container {
  width: 730px;
  height: 350px;
  padding: 60px 50px 40px 60px;
  background: url(assets/roberto-nickson-5ui0tfMC5ts-unsplash.jpg) no-repeat center/cover;
  border-radius: 16px;
  
}

h1,
h5,
p {
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: .5px;
  display: flex;
  text-transform: uppercase;
}

h5 {
  font-size: 10px;
  letter-spacing: 3px;
  
}

p {
  font-size: 16px;
  padding: 5px;
  text-align: left;
}

.button-2 {
  float: left;
  width: 10rem;
  padding: .7rem 0;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 2.4px;
  border: 2px solid;
  border-radius: 24px;
  border-color: #fff;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.button-2:hover {
  background-color: rgba(0,0,0, .1);
}


/* === Mini Card === */


.mini-container {
  width: 350px;
  height: 160px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 16px;
  background-color: #fff;
  display: inline-block;
}

.mini-image {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  object-fit: cover;
  margin: 20px 20px;
  float: left;
}

.h5 {
  padding: 20px 5px;
  color: #6200ea;
  margin-bottom: 0;
  display: flex;
  
}

.text {
  color: #211138;
  font-size: 12px;
  text-align: left;
}


/* === Blog-2 === */


.container-2 {
  width: 730px;
  height: 350px;
  padding: 60px 50px 40px 60px;
  background-color: #fff;
  border-radius: 16px;
}

.h5-2 {
  color: #b2acba;
  text-transform: uppercase;
}

.h1-2 {
  color: #211138;
}

.text-2 {
  color: #211138;
}

.button-3 {
  float: left;
  width: 10rem;
  padding: .7rem 0;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 2.4px;
  border: 2px solid;
  border-radius: 24px;
  border-color: #6200ea;
  text-align: center;
  text-transform: uppercase;
  color: #6200ea;
}

.button-3:hover {
  background-color: #6200EA;
  color: #fff;
}


/* === Blog-3 === */


.ocean-image {
  width: 730px;
  height: 320px;
  margin-top: 25px;
  display: block;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.container-3 {
  width: 730px;
  height: 350px;
  padding: 60px 60px 50px 60px;
  border-radius: 0 0 16px 16px;
  background: #fff;
}


.container-4 {
  margin-top: 25px;
}




/* === Card === */

.layout-card {
  float: right;
}

.layout-card-2 {
  width: calc(33.3% - 1.071rem);
}


.container-card {
  width: 350px;
  height: 600px;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 16px;
  background-color: #fff;
}

.card-top {
  height: 60px;
  margin-bottom: 1px solid;
  border-radius: 16px 16px 0 0;
  background-color: #6200ea;
}

.card-top-text {
  padding: 25px 0 0;
  display: inline-block;
  
}

.card-box {
  width: 350px;
  height: 160px;
  
}

.card-image {
  width: 120px;
  height: 120px;
  margin: 20px 0 0 0;
  margin-left: 20px;
  object-fit: cover;
  border-radius: 16px;
  float: left;
}


.card-link {
  padding: 20px;
  height: 60px;
  display: inline-block;
}

.card-button {
  border-bottom: 1px;
  border-color: #b2acba;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #b2acba;
}

.card-button:hover {
  color: #211138;
}

.h5-3 {
  padding: 20px 20px;
  color: #6200ea;
  margin-bottom: 0;
}

.text-3 {
  padding: 0 20px 0;
  text-align: left;
  font-size: 12px;
  color: #211138;
}



/* === Card-list === */

li  {
  list-style-type: none;
  text-align: left;
  text-transform: uppercase;
  color: black;
}

.list-text {
  padding: 1.214rem 2.143rem 1.286rem 2.143rem;
  border-bottom: 1px solid;
  border-color: #f4f3f5;
}


.categories-list {
  color: #211138;
}

.list-text:hover {
  background-color: #b2acba;
}





/* === Footer === */

.footer {
  width: 1600px;
  height: 100px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  background-color: #211138;
}

.footer-2 {
  text-align: center;
}


.footer-text {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #b2acba;
}


.span-text {
  color: #6200ea;
}



  













